.clear {
	clear: both;
}

body {
	font-family: 'lato', sans-serif;
}
.division1 {
	border-width: 2px;
	border-style: solid;
	border-color: #cf8a05;
	margin: 80px;
}
.division2 {
	border-width: 1px;
	border-style: solid;
	border-color: #cf8a05	;
	margin: 100px;
}
#headshot img {
	border-radius: 50%;
	float: left;
	max-width: 100px;
	height: 100px;
	margin-top: 150px;
	margin-left: 300px;
}
#name {
	font-size: 25px;
	padding: 0px;
	float: left;
	font-family: 'Helvetica', sans-serif; 
	max-width: 400px;
	margin-top: 100px;
	margin-left: 50px;
	margin-bottom: 0;
}
#contactDetails {
	font-size: 25px;
	float: right;
	padding: 0px;
	max-width: 400px;
	margin-top: 150px;
	margin-right: 300px;
	margin-bottom: 0px;
}
.contactDetails_01 {
	list-style: none;
}
.sectionTitle h1 { 
	font-size: 25px;
	float: left;
	width: 25%;
	color: #cf8a05;
	text-align: right;
}
.sectionContent {
	font-size: 20px;
	padding: 0;
	margin-top: 0px;
	margin-right: 300px;
	float: right;
	width: 50%;
	line-height: 3;
}
.subDetails {
	font-family: Arial, sans-serif;
}
.keySkills {
	column-count: 3;
}
.keySkills-item{
	list-style: none;
	width: 100px;
}

.keySkills-item_01 {
	background-color: white;
}
.keySkills-item_02 {
	background-color: white;
}
.keySkills-item_03 {
	background-color: white;
}
.keySkills-item_04 {
	background-color: white;
}
.keySkills-item_05 {
	background-color: white;
}
.keySkills-item_06 {
	background-color: white;
}
.keySkills-item_07 {
	background-color: white;
}
.keySkills-item_08 {
	background-color: white;
}
